In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
df = pd.read_csv('Glassdoor_Job_Postings.csv')
df.head(10)

,company,job_title,company_rating,job_description,location,salary_avg_estimate,salary_estimate_payperiod,company_size,company_founded,employment_type,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
0,ABB,Junior Data Analyst,4.0,Junior Data Analyst\nTake your next career ste...,Bengaluru,"₹3,25,236",/yr (est.),10000+ Employees,1883,Company - Public,Electronics Manufacturing,Manufacturing,$10+ billion (USD),3.7,3.6,4.0,3.5,3.9
1,Philips,Data Scientist - AI/ML,4.0,Job Title\nData Scientist - AI/ML\nJob Descrip...,Bengaluru,NaN,NaN,10000+ Employees,1891,Company - Public,Healthcare Services & Hospitals,Healthcare,$10+ billion (USD),3.8,3.7,4.0,3.5,4.0
2,HSBC,Data Science GSC’s,3.9,Job description\nGraduate/ Post-graduate degre...,Bengaluru,NaN,NaN,10000+ Employees,1865,Company - Public,Banking & Lending,Finance,$10+ billion (USD),3.6,3.6,3.8,3.4,3.7
3,Facctum Solutions,Data Analyst,NaN,Job Description\nExperience: 0 - 2 years in da...,Karnataka,NaN,NaN,1 to 50 Employees,--,Company - Private,--,--,Unknown / Non-Applicable,NaN,NaN,NaN,NaN,NaN
4,JPMorgan Chase & Co,Data and Analytics - Associate,4.0,JOB DESCRIPTION\n\nYou are a strategic thinker...,India,NaN,NaN,10000+ Employees,1799,Company - Public,Banking & Lending,Finance,$10+ billion (USD),4.0,3.9,3.9,3.6,3.7
5,Sanfoundry,Data Scientist - Fresher,NaN,Job Code: Data-Scientist-Fresher-24011\n\nLoca...,Hyderābād,"₹4,16,516",/yr (est.),1 to 50 Employees,--,Self-employed,Colleges & Universities,Education,Unknown / Non-Applicable,4.5,4.3,4.6,4.7,4.6
6,Beinex,Trainee in Data Science,3.9,Highlights\nExperience\nFreshers\nJoining Date...,Cochin,"₹2,80,977",/yr (est.),201 to 500 Employees,2017,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,3.8,3.6,3.9,3.9,3.5
7,Sanfoundry,Junior Software Engineer - Data Science - Fresher,NaN,Job Code: Data-Scientist-Fresher-24012\n\nLoca...,Hyderābād,"₹3,82,623",/yr (est.),1 to 50 Employees,--,Self-employed,Colleges & Universities,Education,Unknown / Non-Applicable,4.5,4.3,4.6,4.7,4.6
8,Oracle,Data Scientist,3.8,The data science team at Oracle Analytics work...,Bengaluru,"₹7,09,930",/yr (est.),10000+ Employees,1977,Company - Public,Enterprise Software & Network Solutions,Information Technology,$10+ billion (USD),3.6,3.5,3.7,3.5,4.0
9,PhonePe,Data Scientist,4.1,About PhonePe Group:\nPhonePe is India’s leadi...,Bengaluru,"₹10,24,695",/yr (est.),5001 to 10000 Employees,2015,Company - Private,Internet & Web Services,Information Technology,Unknown / Non-Applicable,4.0,4.2,4.1,3.7,3.8

"Junior Data Analyst\nTake your next career step at ABB with a global team that is energizing the transformation of society and industry to achieve a more productive, sustainable future. At ABB, we have the clear goal of driving diversity and inclusion across all dimensions: gender, LGBTQ+, abilities, ethnicity and generations. Together, we are embarking on a journey where each and every one of us, individually and collectively, welcomes and celebrates individual differences.\n\nYou will be working as Junior Data Analyst and will be part of Process Automation Business Area for Measurement and Analytics division based in Bangalore, India. In this role you will be reporting to COE Data Management and Analytics Manager and will be responsible for performing data analytics activities and developing analytical solutions to enable business in strategy development for existing and potential products, systems or services.\nYour responsibilities\nUsing data systems to help gather, measure, organize and analyze data, providing sound market and competitive intelligence analysis related to market and trends\nPreparing analysis of internal sales, technical and financial data, interprets resulting data using statistical tools and making recommendations to Sales, Marketing, Finance and Product Management\nMaking diagnostic and predictive recommendations to management of existing gaps and new opportunities for growth, identifying global trends and patterns across various dimensions\nExtracting and analyzing data from sales or financial tools and preparing reports for management to give insights on trends, patterns and predictions across geographies\nAssisting in the development of analytical tools and solutions to support management to drive key business decisions. Training business stakeholders on proper usage of dashboards and monitors on-going data quality\nYour background\nB.E or B. Tech or BCA or Bachelor's in Data Science\nMinimum 1 to 2 years of experience in Data Analytics and visualization\nHands on experience in Basic or Advanced Excel, Basic Statistics, ETL tools, Power BI(Basic),Basic SQL,ML and Python\nAbility to adapt, problem solving skills and give recommendations to stakeholders\nEffective time management while handling business critical tasks\nGood teamwork and collaboration with cross functional teams to meet business deliverables\nGood communication skills\nMore about us\nABB's Measurement & Analytics division is among the world's leading manufacturers and suppliers of smart instrumentation and analyzers. With thousands of experts around the world and high-performance digital technology, ABB's team is dedicated to making measurement easy for its industrial and energy customers to let them operate more efficiently and profitably. We look forward to receiving your application (documents submitted in English are appreciated). If you want to discover more about ABB, take another look at our website www.abb.com. It has come to our attention that the name of ABB is being used for asking candidates to make payments for job opportunities (interviews, offers). Please be advised that ABB makes no such requests. All our open positions are made available on our career portal for all fitting the criteria to apply. ABB does not charge any fee whatsoever for recruitment process. Please do not make payments to any individuals / entities in connection to recruitment with ABB, even if is claimed that the money is refundable. ABB is not liable for such transactions. For current open positions you can visit our career website https://global.abb/group/en/careers and apply. Please refer to detailed recruitment fraud caution notice using the link https://global.abb/group/en/careers/how-to-apply/fraud-warning Work model: on site #LI-onsite"